<h1><%= @person.name %></h1>
<h4><%= @person.age %></h1>
<h4><%= @person.hair_color %></h1>
<h4><%= @person.eye_color %></h1>
<h4><%= @person.gender %></h1>
<h4><%= @person.alive %></h1>
<%= link_to 'Back', people_path %>

